body {
    margin: 0;
    font-family: sans-serif;
    background: url("https://media.gq.com/photos/5dfab9fdcfe9ed0008dc11d9/master/pass/BestShows-Edit.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#tvshows {
    list-style: inside square;
    font-size: 20px;
    background: white;
    width: 500px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#tvshows li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

#tvshows li:last-child {
    border-bottom: 0;
}

a {
    color: #ffc600;
    text-decoration: none;
}